<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-div">
        <img src="../static/images/qis_banner.png" alt="no image">
    </div>
    <div class="register-div">
        <form action="" method="post">
            <input type="number" required placeholder="ID" name="id">
            <input type="text" required placeholder="name" name="name">
            <input type="email" required placeholder="email" name="email">
            <input type="number" required placeholder="phone" name="phone">
            <input type="number" required placeholder="inter percentage" name="percentage">
            <input type="number" required placeholder="eamcet rank" name="rank">
            <input type="text" required placeholder="course interested" name="course">
            <input type="text" required placeholder="address" name="address">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>